
.#*
Artwork/*
Photos/*
.DS_Store
Seeeduino/Base/compassrose.psd
Seeeduino/Base/Base.stl
Seeeduino/Base/Base2.stl
matlab/log.txt
Seeeduino/Base/gear_planet.stl
Seeeduino/Base/gear_ring.stl
Seeeduino/Base/gear_sun.stl
