
.#*
Artwork/*
Photos/*
.DS_Store
Seeeduino/Base/compassrose.psd
Seeeduino/Base/Base.stl
Seeeduino/Base/Base2.stl
matlab/log.txt
Seeeduino/Base/gear_planet.stl
Seeeduino/Base/gear_ring.stl
Seeeduino/Base/gear_sun.stl
matlab/magcal/rawdata3.txt
matlab/magcal/rawdata2.txt
matlab/magcal/rawdata.txt

Seeeduino/libraries/Arduino-Scheduler/
mqtt/MQTT*.log
Seeeduino/libraries/SdFat*
Seeeduino/libraries/ArduinoJson/
Seeeduino/libraries/Adafruit_Unified_Sensor/
Seeeduino/libraries/Adafruit_SPIFlash/
Seeeduino/libraries/Adafruit_Sensor_Calibration/
Seeeduino/libraries/Madgwick/
Seeeduino/libraries/Adafruit_NeoPixel/
